html {
  box-sizing: border-box;
  font-size: 16px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  /* background-image: url("media/Starfields/Starfield_03-1024x1024.png"); */
  background-image: url("media/Blue Nebula/Blue_Nebula_01-1024x1024.png");
  background-repeat: repeat;
  background-size: cover;
}

img {
  max-width: 100%;
  height: auto;
}
